.ItemListContainer {
	display: flex;
	max-width: 100%;
	padding: 0 32px;
	flex-direction: column;
	h1 {
		color: hsl(271, 100%, 25%);
		font-size: 60px;
		margin-top: 15px;
		padding: 25px;
		font-weight: 400;
	}
}
